{% extends 'base.html.twig' %}
{% block title %}IMAGES{% endblock %}
{% block body %}
<div id="images">
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">
            <h1>Images</h1>
            {{ form(form, {'attr': {'class':'form-horizontal'}}) }}
            <hr class="divider">
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File</th>
                        <th scope="col">Views</th>
                        <th scope="col">Likes</th>
                        <th scope="col">Downloads</th>
                        <th scope="col">Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for image in images %}
                        <tr>
                            <th scope="row">{{ image.id }}</th>
                            <td>
                                <img src="{{ asset('images/index/gallery/'~ image.file) }}" alt="Imagen" width="150px" height="75px" />
                            </td>
                            <td>
                                {{ image.numViews }}
                            </td>
                            <td>
                                {{ image.numLikes }}
                            </td>
                            <td>
                                {{ image.numDownloads }}
                            </td>
                            <td>
                                {{ image.category.name }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
